body {
	font-family: 'Source Sans Pro', sans-serif;
}

/*button styles*/

.btn-primary {
    color: #fff;
    background-color: #ffad11 !important;
    border-color: #ffad11 !important;
    border-radius: 40px !important;
    padding: 10px 14px !important;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    min-width: 180px;
    text-shadow: 1px 1px 1px #cc8a0e;
	transition: all 0.3s ease 0s;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgb(103, 92, 65);
}

.btn-secondary {
    color: #fff;
    background-color: #222222 !important;
    border-color: #222222 !important;
    border-radius: 40px !important;
    padding: 10px 14px !important;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    min-width: 180px;
    text-shadow: 1px 1px 1px #3e3c3c;
	transition: all 0.3s ease 0s;
}

.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(68, 68, 68, 0.5);
}

/*button styles end*/

.navbar-toggler {
    border: #777777 solid 1px;
    position: relative;
}

.navbar-toggler::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 7px;
    background-image: url(../images/responsive-button.png);
    width: 34px;
    height: 24px;
}

.headerStack {
	width: 215px;
	float: left;
	padding: 11px 10px;

	a {
	float: left;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
	}

	span {
	float: left;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
	}

	.email-icon{
	background-image: url(../images/mail.svg);
    background-size: 20px auto;
    background-repeat: no-repeat;
    width: 20px;
    height: 15px;
    float: left;
    margin: 4px 10px 0 10px;
	}

	.telephone-icon{
	background-image: url(../images/telephone.svg);
    background-size: 15px auto;
    background-repeat: no-repeat;
    width: 20px;
    height: 15px;
    float: left;
    margin: 4px 0px 0 10px;
	}

	.earth-icon{
	background-image: url(../images/earth-globe.svg);
    background-size: 15px auto;
    background-repeat: no-repeat;
    width: 20px;
    height: 15px;
    float: left;
    margin: 4px 0px 0 10px;
	}

	.free-user-icon{
	background-image: url(../images/user.svg);
    background-size: 15px auto;
    background-repeat: no-repeat;
    width: 20px;
    height: 15px;
    float: left;
    margin: 4px 0px 0 10px;
	}

}
.headerStack.width-bg {
  background: #2e2e2e;
}
.headerStack.width-auto {
  width: auto;
}
.topHeader{
	background:#222222;
}

.nav-item.active {

	.nav-link::before{
		display:block;
	}
}

.nav-border .nav-link {
    color: #414141;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;

    &:hover{
    color: #414141;
    }

    &:hover::before{
    display: block;
    }
}

.nav-border .nav-link:before {
    position: absolute;
    content: "";
    width: calc(100% - 10px);
    bottom: -23px;
    height: 3px;
    background: #ffad11;
    left: 5px;
    display: none;
}

.nav-item.userFeed {
    width: 90px;
    text-align: center;

    .nav-link {
    border: #414141 solid 2px;
    border-radius: 6px;
    padding: 6px;
    transition: all 0.3s ease 0s;

    &:hover{
    background: #ffad11;
    color: #ffffff;
    border: #ffad11 solid 2px;
    }

	&:hover::before{
    display: none !important;
    }
}
}

.banner-holder{
	background-image: url(../images/banner-img.jpg); 
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	height: 600px;
}

.carousel-item {
    min-height: 370px;
}

.flex-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-holder {
    .carousel-caption {
    top: 0;
    bottom: auto;
    padding: 0;
    font-size: 20px;
	}
	.banner-heading {
	font-size: 74px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
    position: relative;
    padding-left: 20px;
    text-transform: uppercase;
	}
	.banner-heading:before {
	content: "";
    position: absolute;
    left: 0;
    top: 22px;
    width: 5px;
    background-image: url(../images/banner-heading-strip.gif);
    height: calc(100% - 40px);
	}
	.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    bottom: auto;
    display: block; 
    width: 64px;
    color: #fff;
    text-align: center;
    margin-top: -32px;
    height: 64px;
	}
	.carousel-control-prev {
    background-repeat: no-repeat;
    background-image: url(../images/left-arrow.svg);
    background-position: center center;
    background-size: 60px auto;
	}
	.carousel-control-next {
    background-repeat: no-repeat;
    background-image: url(../images/right-arrow.svg);
    background-position: center center;
    background-size: 60px auto;
	}
	.carousel-indicators {
    bottom: -50px;
}

}

h2 {
    color: #222222;
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.border-btm-middle{
	position: relative;

	&::before {
	position: absolute;
    content: "";
    height: 10px;
    background-image: url(../images/border-btm-middle.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 80px;
    bottom: -20px;
    left: 50%;
    margin-left: -40px;
}
}
.border-btm-left{
	position: relative;

	&::before {
	position: absolute;
    content: "";
    height: 10px;
    background-image: url(../images/border-btm-left.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    width: 80px;
    bottom: -20px;
    left: 0;
}
}
.text-info {
        color: #009999 !important;
    font-size: 17.5px;
    line-height: normal;
}

.icon-stack {
    display: block;
    margin-bottom: 15px;

    > img {
    width: 70px;
    display: block;
    margin: 0 auto;
   }
}
.column-height{
	height: 256px;
    border-radius: 50%;
    width: 260px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 15px 0px #e4e3e3;
    box-shadow: 0px 0px 15px 0px #e4e3e3;
    background: #ffffff;
}

h3{
	color: #222222;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 5px;
}
.border-strip-holder {
	position: relative;

	&::before {
    background-image: url(../images/border-strip.png);
    position: absolute;
    left: 310px;
    top: 54%;
    width: calc(100% - 610px);
    height: 3px;
    content: "";
}
}
.bg-grey{
	background-color: #fafafa;
}

.paddingTopBottom-100{
	padding-top: 100px;
	padding-bottom: 100px;
}

.paddingTopBottom-90{
	padding-top: 100px;
	padding-bottom: 100px;
}

.paddingTopBottom-80{
	padding-top: 80px;
	padding-bottom: 80px;
}

.paddingTopBottom-50{
	padding-top: 50px;
	padding-bottom: 50px;
}

.lead{
	color: #333333;
	font-size: 20px;
}

.text-primary {
    color: #999999 !important;
    font-size: 17.5px;
}
.bitcoin-category {
        background-color: #f9f9f9;
    padding: 25px 10px 15px 10px;
    border: #eaeaea solid 1px;
}
.heading3-different{
	font-size: 25px;
	font-weight: 600;
}
.cat-icons {
    display: block;
    margin-bottom: 10px;

    > img {
    width: 68px;
   }
}

.iconsize-reduced > img {
    width: 40px;
}
.margintop-30{
	margin-top: 30px;
}

.card{
	-webkit-box-shadow: 0px 0px 15px 0px #e4e3e3;
    box-shadow: 0px 0px 15px 0px #e4e3e3;
    background: #ffffff;
    border-radius: 0;

    .card-footer{
   	    border-radius: 0;
    background-color: #ffffff;
    padding: 15px 20px;
    }

    a{
    	font-size: 15px;
    	text-decoration: none;
    	color: #999999;
    }

    .heart-icon{
   	background-image: url(../images/heart-icon.svg);
    background-repeat: no-repeat;
    background-position: left 3px;
    background-size: 17px auto;
    padding-left: 21px;
    }

    .comment-icon{
   	background-image: url(../images/comments-icon.svg);
    background-repeat: no-repeat;
    background-position: left 2px;
    background-size: 22px auto;
    padding-left: 30px;
    }
    .crypto-link{
    	    position: absolute;
    top: 20px;
    left: 20px;

    }
}

.crypto-link{
   background-color: #ffad11;
   color: #ffffff !important;
   text-decoration: none;
   padding: 6px 14px !important;
   font-size: 17.5px !important;
 }

 .footer-bg{
 	background-color: #303030;
    padding-top: 50px;
    padding-bottom: 30px;
 }

.toppage {
  background-image: url(../images/chevron-arrow-up.svg);
  background-repeat: no-repeat;
  background-size: 20px auto;
  background-position: center center;
  bottom: 40px;
  color: #ffffff !important;
  font-size: 16px;
  height: 48px;
  padding: 15px 0 0;
  position: fixed;
  right: 50px;
  text-align: center;
  width: 50px;
  opacity: 0;
  filter: alpha(opacity = 0);
  background-color: #ffad11;
}

.scrolledTo {
  opacity: 0.7;
  filter: alpha(opacity = 70);
  &:hover, &:focus {
    opacity: 1;
    filter: alpha(opacity = 100);
  }
}

.footer-address{
	color: #e2e2e2;
}

.footer-nav > li {
	display: block;
	margin-bottom: 10px;
}

.footer-nav > li > a {
	display: block;
    color: #e1e1e1;
    text-decoration: none;
    background-repeat: no-repeat;
    padding-left: 15px;
    background-image: url(../images/footer-menu-arrow.png);
    background-position: left 8px;
}

.footer-nav > li > a.footer-email-icon {
    background-image: url(../images/mail.svg);
    background-size: 18px auto;
    background-position: left 8px;
    padding-left: 30px;
}

.footer-nav > li > a.footer-map-icon {
    background-image: url(../images/map-icon.svg);
    background-size: 12px auto;
    background-position: left 6px;
    padding-left: 30px;
}

.footer-nav > li > a.footer-phone-icon {
    background-image: url(../images/telephone.svg);
    background-size: 15px auto;
    background-position: left 6px;
    padding-left: 30px;
}

.footer-heading {
	color: #ffffff;
    font-size: 22.5px;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 13px;
    margin-bottom: 22px;
}
.footer-heading:before {
	content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: #ffad11;
    width: 32px;
}
.bitcoin-link{
	color: #ffad11 !important;
	text-decoration: none;
}
.footer-btm {
    color: #ffffff;
    padding: 30px 0 0;
    border-top: #454545 solid 1px;
}
.footer-btm p{
	margin: 0;
}
