@media screen and (max-width: 991px) {
.nav-border .nav-link::before {
    display: none !important;
}
.nav-border .nav-link:hover{
	background: #A9791D;
	color: #ffffff;
}

.nav-item.userFeed {
    margin: 10px 0 !important;
}

.carousel-holder {
  .banner-heading {
    font-size: 50px;
  }
  .carousel-caption {
    font-size: 16px;
  }
  .carousel-control-prev {
    background-size: 50px auto;
    width: 52px;
    height: 52px;
  }
  .carousel-control-next {
    width: 52px;
    height: 52px;
    background-size: 50px auto;
  }
  .carousel-item {
    min-height: 270px;
  }
}
.btn-primary {
    padding: 9px 14px !important;
    font-size: 16px;
    min-width: 160px;
}
.btn-secondary {
    padding: 9px 14px !important;
    font-size: 16px;
    min-width: 160px;
}
.column-height {
    height: 210px;
    width: auto;
}

.icon-stack > img {
    width: 60px;
}

.text-info {
    font-size: 16px;
}

h3 {
    font-size: 20px;
}
.border-strip-holder::before{
	display: none;
}
h2 {
    font-size: 34px;
}

}

/*break point 767*/

@media screen and (max-width: 767px){
.column-height {
    height: 240px;
    width: 250px;
    margin-bottom: 50px;
}
.carousel-holder .banner-heading {
    font-size: 30px;
}
.carousel-holder .carousel-control-prev {
    background-size: 30px auto;
    width: 32px;
    height: 32px;
}
.carousel-holder .carousel-control-next {
    background-size: 30px auto;
    width: 32px;
    height: 32px;
}
.btn-primary, .btn-secondary {
    padding: 8px 14px !important;
    font-size: 14px;
    min-width: 140px;
}
.banner-holder {
    height: 350px;
}
.carousel-holder .carousel-item {
    min-height: 240px;
}
.carousel-holder .carousel-caption {
    font-size: 14px;
}
h2 {
    font-size: 24px;
}
.text-info {
    font-size: 14px;
}

h3 {
    font-size: 18px;
}
.lead {
    font-size: 18px;
}
.text-primary {
    font-size: 14px;
}
.paddingTopBottom-80 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.heading3-different {
    font-size: 22px;
}
}