body {
    padding: 0px;
    margin: 0xp;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
   }
html{
    overflow-x: hidden;
    font-size: 62.5%;
}
@media (max-width: 567px){
  #clients{
    display: none;
  }
}
#top-container{
      background: url("../img/banner_background.jpg");
    
  min-height: 20px;
}
.learn-img{
    padding: : 2rem;
}
.top-ico{
    display: inline;
    font-size: 1.5rem;
    color: #fff
}
hr{
background-color: orange;
height: 3px;
width:20px;
float: left;
}
.link-text{
font-size: 1.3rem;
font-weight: 700;
}
.top-text{
    display: inline;
    color: #fff;
}
.rounded{
border-radius: 3px !important;
}
.txt-bold{
font-weight: 700;

}
.margin-t{
margin-top: 6rem !important;
}
.p-text-set{
font-size: 2.5rem;
font-weight: 400;
}
.card-back-bitcoin{
  background-image: url("../img/get_started_with.png");
background-repeat: no-repeat;
  width: 220px;
  height: 260px;
}
.text-primary{
  color: #414141 !important;
font-weight: 700;
}
.card-txt-set{
font-size: 1.2rem;
}
.card{
  border: none !important;
}
.active{
   background-color: #f89520 !important;
}
.card-header{
  background-color: #fff !important;
}
.btn-outline-warning{
border-color: #f89520 !important;
}
.btn-warning{
  background-color: #f89520 !important;
}
/*#boxes{
  background-color: #f9f9fa;
}*/
/*
.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px; }
*/

#showcase {

  background: url("../img/banner_background.jpg")no-repeat;
  min-height: 100vh; 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}
/*
  #showcase .primary-overlay {
    background: rgba(50, 146, 166, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
*/

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid; }

#authors img {
  }
.bor-bottom{
border-bottom: 2px solid #ddd;
width: 100%;

}
#authors .fa {
  font-size: 25px; }

#authors .card:hover {
  background: #3292a6;
  color: #fff; }
  #authors .card:hover .fa {
    color: #fff; }
